.price-card {
  width: 380px;
  height: auto;
  background-color: $card-color;
  color: $text-color;
  box-shadow: 0px 6px 6px 0px $shadow-color;
  text-align: center;
  font-weight: 700;

  &__title {
    font-size: 35px;
    line-height: 43px;
    margin-top: 33px;
    margin-bottom: 0;
  }

  &__subtitle {
    font-size: 20px;
    line-height: 24px;
    font-weight: 300;
  }

  &__price-container {
    width: 380px;
    height: 105px;
  }

  &__price {
    font-size: 55px;
    line-height: 67px;
    margin-top: 33px;
    margin-bottom: 0;
    padding-top: 17px;
  }

  &__description {
    font-size: 15px;
    font-weight: 300;
    line-height: 18px;
    margin: 0;
    padding: 40px 26px;
  }

  &__options-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: left;

    &_item {
      max-height: 50px;
      font-size: 15px;
      font-weight: 300;
      line-height: 18px;
      margin: 0;
      padding: 18px 59px 19px;

      &:nth-child(odd) {
        background-color: $dark-grey-color;
      }
    }
  }

  &__button {
    width: 155px;
    height: 40px;
    border-radius: 50px;
    margin: 39px 113px 40px 112px;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-align: center;
    border: none;
    color: $text-color;
    cursor: pointer;
  }
}

.basic-price {
  &__price-container {
    background: $green-color;
  }

  &__item {
    background: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_green.png)
      no-repeat 22px 19px;
  }

  &__button {
    background: $green-color;
  }
}

.business-price {
  position: relative;

  &__badge {
    position: absolute;
    width: 147px;
    height: 25px;
    line-height: 25px;
    top: 30px;
    right: -30px;
    transform: rotate(45deg);
    background-color: $badge-color;
    text-transform: uppercase;
    clip-path: polygon(17% 0, 83% 0, 100% 100%, 0% 100%);
  }

  &__price-container {
    background: $blue-color;
  }

  &__item {
    background: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_blue.png)
      no-repeat 22px 19px;
  }

  &__button {
    background: $blue-color;
  }
}

.webshop-price {
  &__price-container {
    background: $orange-color;
  }

  &__item {
    background: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_orange.png)
      no-repeat 22px 19px;
  }

  &__button {
    background: $orange-color;
  }
}
