.card-container {
  width: 1440px;
  height: 1000px;
  display: flex;
  gap: 18px;
  justify-content: center;
  align-items: center;
  background-color: $main-card-color;
}

.popular-badge {
  position: absolute;
  width: 147px;
  height: 25px;
  line-height: 25px;
  top: 30px;
  right: -30px;
  transform: rotate(45deg);
  background-color: $badge-color;
  text-transform: uppercase;
  clip-path: polygon(17% 0, 83% 0, 100% 100%, 0% 100%);
}

