@import 'variables.scss';
@import 'common.scss';
@import 'card.scss';

* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', Helvetica, sans-serif;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: $main-card-color;
  overflow: hidden;
}
