$main-card-color: #141b1c;
$text-color: #fff;

$card-color: #334247;
$dark-grey-color: #2a3438;
$green-color: #5bb189;
$blue-color: #3a6ba5;
$orange-color: #ec632a;
$badge-color: #dc3f45;

$shadow-color: #00000016;
