$page-color: #000;
$main-card-color: #141B1C;
$text-color: #fff;

$card-color: #334247;
$dark-grey-color: #2a3438;
$green-color: #5bb189;
$blue-color: #3a6ba5;
$orange-color: #ec632a;

$shadow-color: #00000016;